@model CrearRolViewModel

@{
    ViewBag.Title = "Crear Rol";
}

<div class="container-User">
    <h1>Crear Rol</h1>

    <hr />

    <form asp-action="CrearRol">
        <div class="row">
            <div class="col">

                <div asp-validation-summary="ModelOnly" class="error">
                    <h2>
                        <i class="fa fa-exclamation-triangle " aria-hidden="true"></i>
                    </h2>
                </div>
                <div id="wrapper">
                    <div class="box">
                        <div class="form-group">
                            <label asp-for="Rol " class="control-label">Nombre Del Nuevo Rol:</label>
                            <input asp-for="Rol" class="form-control" />
                            <span asp-validation-for="Rol" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Crear" class="btn-primary-rol center" />
            </div>
        </div>
    </form>
</div>