<div class="text-center">

    <h1>
        <i class="fa fa-check" aria-hidden="true" style="color:green;"></i>
    </h1>

    <h6>Se cambió la contraseña exitosamente.</h6>
    <a asp-action="Login" class="btn btn-rol" style="margin-top: 10px;">Volver al inicio</a>
</div>