




    <div class="text-center">

        <h1>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Correo Enviado
        </h1>

        <h6>Se envió un correo con el link para reestablecer su contraseña.</h6>
        <a asp-action="Login" class="btn btn-rol" style="margin-top: 10px;">Volver al inicio</a>
    </div>