<div class="text-center">

    <h1>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </h1>

    <h6>Se borraron todas las solicitudes y se inicio un nuevo año.</h6>
    <a asp-action="Index" asp-controller="Home" class="btn btn-rol" style="margin-top: 10px;">Volver al inicio</a>
</div>