@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="text-center">

        <h1 class="text-danger">
            <i class="fa fa-ban" aria-hidden="true"></i>
            Alerta
            <i class="fa fa-ban" aria-hidden="true"></i>
        </h1>

        <h6 class="text-danger">Se va a iniciar un nuevo año, lo que eliminaría todas las solicitudes enviadas hasta el momento.</h6>
        <h6>¿Desea continuar?</h6>

        <a asp-action="BorrarTodo" asp-controller="Solicitud" class="btn btn-rol" style="margin-top: 10px;">Iniciar Año</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-rol" style="margin-top: 10px;">Volver al inicio</a>

    </div>